<%- include('partials/header.html') %>

	<main class="container-lg mh py-4">
		<div class="d-flex justify-content-center">
			<h1 class="text-start mb-0 ms-2">Editar alumno: <%= alumno.nombre %>
			</h1>
		</div>
		<div class="d-flex justify-content-center">
			<form class="mt-2 border border-2 p-3 rounded bg-white" id="form">

				<div class="row mb-0 mb-md-2 d-flex justify-content-center">
					<div class="col-12 col-md-6 mb-2 mb-md-0">
						<label for="id" class="form-label">Id</label>
						<input type="text" id="id" name="id" class="form-control" value="<%= alumno.id %>"
							placeholder="Id" required />
						<label for="matricula" class="form-label">Matricula</label>
						<input type="text" id="matricula" name="matricula" class="form-control"
							value="<%= alumno.matricula %>" placeholder="Matricula" required />
						<label for="nombre" class="form-label">Nombre</label>
						<input type="text" id="nombre" name="nombre" class="form-control" value="<%= alumno.nombre %>"
							placeholder="Nombre" required />
						<label for="domicilio" class="form-label">Domicilio</label>
						<input class="form-control" id="domicilio" name="domicilio" rows="3"
							value="<%= alumno.domicilio %>" placeholder="Domicilio" required>
						<label for="sexo" class="form-label">Sexo</label>
						<input type="text" id="sexo" name="sexo" class="form-control" value="<%= alumno.sexo %>"
							placeholder="Sexo" required />
						<label for="especialidad" class="form-label">Especialidad</label>
						<input type="text" id="especialidad" name="especialidad" class="form-control"
							value="<%= alumno.especialidad %>" placeholder="Especialidad" required />
					</div>
				</div>

				<div class="d-flex flex-wrap justify-content-start gap-2">
					<button class="btn btn-secondary" id="btnActualizar">
						Finalizar
					</button>
					<button class="btn btn-secondary text-white" type="reset">
						Restablecer
					</button>
				</div>
			</form>
		</div>

		<div class="modal fade" id="alertModal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="alertTitle">Modal title</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p id="alertMessage">Modal body text goes here.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
	</main>

	<%- include('partials/footer.html') %>