<%- include('partials/header.html') %>

	<main class="container-lg mh py-4">
		<div class="d-flex justify-content-center">
			<h1 class="text-start mb-0 ms-2">Listado de Alumnos</h1>
		</div>
		<table id="results" class="table table-light table-hover table-bordered mt-2 mb-0 align-middle">
			<thead>
				<tr>
					<th scope="col" class="text-center">Id</th>
					<th scope="col" class="text-center">Matricula</th>
					<th scope="col" class="text-center">Nombre</th>
					<th scope="col" class="text-center">Domicilio</th>
					<th scope="col" class="text-center">Sexo</th>
					<th scope="col" class="text-center">Especialidad</th>
					<th scope="col" class="text-center">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<% alumnos.forEach(element=> { %>
					<tr>
						<th class="text-center" scope="row">
							<%= element.id %>
						</th>
						<td class="text-center">
							<%= element.matricula %>
						</td>
						<td class="text-center">
							<%= element.nombre %>
						</td>
						<td class="text-center">
							<%= element.domicilio %>
						</td>
						<td class="text-center">
							<%= element.sexo %>
						</td>
						<td class="text-center">
							<%= element.especialidad %>
						</td>
						<td class="d-flex justify-content-center align-items-center gap-2">
							<a href="/delete/<%= element.id %>" class="btn btn-danger">
								<!-- <img src="/img/desactivar.svg" alt="Icono de desactivado"> -->
								Eliminar
							</a>
							<a href="/update/<%= element.id %>" class="btn btn-light">
								<!-- <img src="/img/editar.svg" alt="Icono de editar"> -->
								Modificar
							</a>
						</td>
					</tr>
					<% }); %>
			</tbody>
		</table>
		<div class="d-flex justify-content-center">
			<form class="mt-3 border border-3 p-3 rounded bg-white" id="form">
				<div class="col mb-0 mb-md-2">
					<div class="col-12 col-md-6 mb-2 mb-md-0">
						<label for="id" class="form-label ">Id</label>
						<input type="text" id="id" name="id" class="form-control " placeholder="Id" required />
						<!-- </div> -->
						<label for="matricula" class="form-label ">Matricula</label>
						<input type="text" id="matricula" name="matricula" class="form-control " placeholder="Matricula"
							required />

						<label for="nombre" class="form-label ">Nombre</label>
						<input type="text" id="nombre" name="nombre" class="form-control " placeholder="Nombre"
							required />
						<label for="domicilio" class="form-label ">Domicilio</label>
						<input class="form-control " id="domicilio" name="domicilio" rows="3" placeholder="Domicilio"
							required></input>
						<label for="sexo" class="form-label ">Sexo</label>
						<input type="text" id="sexo" name="sexo" class="form-control " placeholder="Sexo" required />
						<label for="especialidad" class="form-label ">Especialidad</label>
						<input type="text" id="especialidad" name="especialidad" class="form-control "
							placeholder="Especialidad" required />
					</div>
				</div>

		<div class="d-flex flex-wrap justify-content-start gap-2">
			<button class="btn btn-secondary" id="btnAgregar">
				<!-- <img src="/img/agregar.svg" alt="Icono de agregar"> -->
				Agregar
			</button>
			<button class="btn btn-secondary" id="btnConsultar">
				<!-- <img src="/img/consultar.svg" alt="Icono de consultar"> -->
				Consultar
			</button>
			<button class="btn btn-secondary text-white" type="reset">
				<!-- <img src="/img/limpiar.svg" alt="Icono de limpiar"> -->
				Limpiar
			</button>
		</div>



		</form>
		</div>
		<div class="modal fade" id="alertModal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="alertTitle">Modal title</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p id="alertMessage">Modal body text goes here.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
	</main>

	<%- include('partials/footer.html') %>